ul{
	text-align:left;         
}
.ui-draggable, .ui-droppable {
	background-position: top;
}
.ui-autocomplete  {
	max-height: 200px;
	overflow-y: auto; 
	text-overflow: ellipsis;
	position: relative;
}
.flex-container {
	display: flex;
}
  
.center{
	text-align: center;
}

#containerDiv {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 5%;
	margin-left: 5%;
}