ul{
	text-align:left;         
}
.ui-draggable, .ui-droppable {
	background-position: top;
}
.ui-autocomplete  {
	max-height: 200px;
	overflow-y: auto;
	text-overflow: ellipsis;
	position: relative;
	background-color: white;
	width: 10px; /* this doesn't actually set the width to 10px but it does what i want so like */
}
.ui-widget-content {
	background: #ffffff;
}
.flex-container {
	display: flex;
}
  
.center{
	text-align: center;
}

#containerDiv {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 5%;
	margin-left: 5%;
}